body
{
    margin : 5%;
    font-family: 'Raleway', sans-serif; 
    font-size: 0.45em;
}

#header_entete
{
    display:flex;
    justify-content: space-between;
}

#header_logo
{
    float : left;
    width: 70px;
    height: 70px;
}

a
{
    text-decoration: none;
}

.header_nav
{
    min-width: 20%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap-reverse;
}


.header_li-blue
{
    color : #0065FC;
}

#main_info
{
    display : flex;
}

.main_articles_heb
{
    display : flex;
}

#main_recherche
{
    display:flex;
}


#main_liste_filtres
{
    display : flex;
}

.main_filtres
{
    display : flex;
    flex-wrap: wrap;
    list-style:none;
    justify-content:left;
    width : 75%;
}


li
{
    padding-left:1%;
    padding-right:1%;
    margin-left: 2%;
}

.main_li_filtres
{
    font-weight: bold;;
    border : 1px solid #F2F2F2;
    border-radius:30px;
}

#main_pop_heb /* positionner en colonne si mobile */
{
    display : flex;
    flex-direction : row-reverse;
    justify-content: space-between;
}

#main_pop
{
    background-color: #f2f2f2; 
    justify-content: space-around;
    min-width : 38%;

}

#main_pop_div
{
    display : flex;
    justify-content :space-between;
}


#main_heb
{
    background-color: #f2f2f2; 
    min-width : 60%;
}

#main_articles_pop
{
    margin : 2%;
}

#main_articles_heb
{
    display:flex;
    justify-content: space-around;
}

#main_articles_act
{
    border : 1px solid red;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

span
{
    background-color: #0065FC; 
    color : #DEEBFF;
}

article
{
     border : solid 1px black;
}

section
{
      border-radius:30px;
}

footer /* positionner en colonnes si mobile */
{
    margin-top: 5%; 
    background-color: #F2F2F2;
     display : flex;
     justify-content: space-around;
}

.section_footer
{
     margin:0em;
}


 
