body 
{
    font: 0.8em 'Raleway', Arial, Helvetica, sans-serif;
    background-color: white;
}

header, main
{
    margin-left: 2vw;
    margin-right: 2vw;
}

h1
{
    font: 1.2em 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h2
{
    font: 1em 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

a
{
    outline : none;
    text-decoration: none;
    color : black;
    padding-bottom: 0.5em;
}

a:hover
{
   font-weight: bold;
   outline : none;
}

 
/* haut et bas de section*/
section
{
    margin-top: 5px;
    margin-bottom: 15px;
}

/* pour incrustation photos*/
.photo
{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}


/* pour couleur texte */
.blue
{
    color : #0066ff;
}

.grey
{
    color : lightgrey;
}

/* suppression des marges */
.h2_margin
{
    margin-top: 0.2vw;
    margin-bottom: 0.2vw;
}

.p_margin
{
    margin-top: 0;
    margin-bottom: 0;

}


/* 1 éléments du header ------------------------------- */

    /* 1--logo $$$$$$$$$$ */
    .logo_nav
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo
    {
        float: left;
    }

    #logo_img
    {
        width : 10%;
    }

    /* 1--nav $$$$$$$$$$ */
    #header_nav_ul
    {
        list-style-type: none;
        display : flex;
        justify-content: flex-end;
        flex-wrap: wrap-reverse;
    }

    .header_nav_li
    {
        margin-right: 8vw;
        display : inline;
        padding-top: 2em;
        margin-top : 0;
    }

    @media screen and (min-width:1200px) /* affichage si grand écran */
    {
        .header_nav_li:hover
        {
            border-top-style: solid;
            border-top-color : #0066ff;
        }
    }

    @media screen and (max-width:1200px) /* affichage si petit écran */
    {
        .menu
        {
            font-size: 1.5em;
        }

        #logo_img
        {
            width : 10em;
        }

        .header_nav_li:hover
        {
            border-bottom-style: solid;
            border-bottom-color : #0066ff;
            padding-bottom : 2em;
        }
    
    }



/* 2 éléments du main -------------------------------*/

@media screen and (max-width:1200px) /* affichage si petit écran */
{
    #main_entete
    {
        font-size:1.5em;
    }
}

    /* 2--1 main RECHERCHE VILLE $$$$$$$$$$*/

    #recherche
    {
        max-width : 300px;
        margin : 0 3vw 0 0;
        display : flex;
        align-items: center;
        background-color: #F2F2F2;
        border : 1px solid #F2F2F2;
        border-radius: 10px;
    }

    #icone_map
    {
        display : flex;
        align-items: center;
        justify-content: center;
        border : 2px solid #F2F2F2;
        border-radius: 10px 0 0 10px;
    }

    #zone_saisie
    {
        background-color: white;
        border : 1px solid #F2F2F2;
        width : 80%;
        padding-left: 2vw;
        display : flex;
        align-items: center;
    }

    #lancer_recherche
    {
        background-color: #0066ff;
        color : white;
        font-weight: bold;
        width : 40%;
        border-radius: 0 10px 10px 0;
        border : 1px solid #0066ff;
        display : flex;
        align-items: center;
        justify-content: center;
    }

    #lancer_recherche:hover
    {
        color : #0066ff;
        background-color: #F2F2F2;
    }

    #icone_rechercher
    {
        background-color: #0066ff;
        color : white;
        font-weight: bold;
        width : 10%;
        border-radius: 10px 10px 10px 10px;
        border : 1px solid #0066ff;
        display : flex;
        align-items: center;
        justify-content: center;
    }

    #icone_rechercher:hover
    {
        color : #0066ff;
        background-color: #F2F2F2;
    }

    @media screen and (min-width:1200px) /* affichage si grand écran */
    {
        #recherche, #icone_map, #zone_saisie, #lancer_recherche
        {
            height : 3vw;
        }

        #icone_map
        {
            width : 15%;
        }

        #icone_rechercher
        {
            display : none;
        }
    }

    @media screen and (max-width:1200px) /* affichage si petit écran */
    {
        #recherche, #icone_map, #zone_saisie, #icone_rechercher
        {
            height : 5vw;
        }

        #icone_map
        {
            width : 10%;
        }

        #zone_saisie
        {
            font-size: 1.5em;
        }
        #lancer_recherche
        {
            display : none;
        }
    }

    /* 2--2 main FILTRES SOUHAITS $$$$$$$$$$ */

        #filtres
        {
            margin : 1vw ;
            height : auto;
            min-height : 3vw;
            max-width: 80%;
        }

        #choix
        {
            display : flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        #titre_filtres
        {
            text-align : left;
            padding-right: 25px;
        }

        .filtre
        {
            width: fit-content;
            margin : 1vw;
            display : flex;
            align-items: center;
            border : 2px solid #F2F2F2;
            border-radius: 30px 30px 30px 30px;
            margin-right: 15px;
        }

        .icone_filtres
        {
            width : 3em;
            height : 3em;
            margin-left :0px;
            display : flex;
            align-items: center;
            justify-content: center;
            background-color: #e6f0ff;
            border-radius: 30px;
        }

        .texte_filtres
        {
            width : 60%;
            min-width : fit-content;
            padding : 0 1vw 0 1vw;
            display : flex;
            align-items: center;
            justify-content: center;
        }

        .filtre :hover
        {
        color: #0066ff;
        }

        @media screen and (min-width:1200px) /* affichage si grand écran */
        {
            #filtres
            {
                display: flex;
                flex-direction: row;
                align-items: center;
            }
        }

        @media screen and (max-width:1200px) /* affichage si petit écran */
        {
            #filtres
            {
                display: flex;
                flex-direction: column;
                font-size : 1.5em;
            }
        }

    /* 2--3 main INFO NBRE $$$$$$$$$$ */

    #main_info
    {
        display : flex;
        align-items: center;
    }

    #info_nbre
    {
        margin : 0 0 0 10px;
    }

    @media screen and (max-width:1200px) /* affichage si petit écran */
    {
        #main_info
        {
            font-size: 1.5em;
        }
    }

        /* 2--4 main HEBERGEMENTS ET POPULAIRES $$$$$$$$$$ */

        /* 2--4--1-- gestion relative HEB et POP */
        
        #heb_pop_main
        {
        display : flex;
        flex-wrap: wrap-reverse;
        justify-content: space-between;
        }


        /* 2--4--2-- POPULAIRES en aside pour SEO */


            /* 2--4--2--1 POPULAIRES en aside pour SEO */

        #pop_main
        {
            background-color: #F2F2F2;
            padding : 2%;
            margin-bottom: 5px;
        }

        #entete_pop_main
        {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .sidebar
        {
            grid-column: 5 / span 2;
            grid-row : 3;
            display : grid;
            grid-template-rows: 1fr 1fr 1fr;
            grid-auto-columns: minmax(10px,auto);
            grid-row-gap: 10px;
        }

        .boxPop
        {
            border-radius: 15px;
            background-color : white;
            height : 11em;
            padding : 5px;
            display : flex;
            flex-direction: row;
        }

        .boxPop:hover
        {
            background-color: #e6f2ff;
        }

        .photoH
        {
            border-radius: 15px 0 0 15px;
            width : 40%;
            height : 11em;
            object-fit:cover;
        }

        .photoH :hover 
        {
            width : 50%;
            height : auto;
            position :absolute;
         }
        

        .article_notation
        {
            max-height: 100px;
            padding-left: 10px;
            display : grid;
            grid-template-rows: 2fr 1fr 1fr;
        }

        .article_texte
        {
            grid-row : 1;
            margin-top : 2em;
        }

        .notation
        {
            grid-row : 3;
            margin-top : 2em;
            margin-bottom: -2em;
        }

        @media screen and (min-width:1200px) /* affichage si grand écran */
        {
            #pop_main
            {
                width : 25%;
                border-radius : 5% 5% 5% 5%;
            }
        }

        @media screen and (max-width:1200px) /* affichage si petit écran */
        {
            #pop_main
            {
                width : 100%;
                font-size: 1.5em;
            }
        }


        /* 2--4--3-- HEBERGEMENTS en section et articles pour SEO */

        .boxHeb
        {
            border-radius: 15px;
            background-color : white;
            margin-bottom: 5px;
            padding : 5px 5px 10px 5px;
            display : flex;
            flex-direction: column;
        }

        .boxHeb :hover
        {
            background-color : #e6f2ff;
        }


        .article_notationV
        {
            max-height: 40px;
            padding-left: 10px;
            font-size : 90%;
            display : grid;
            grid-template-rows: 2fr 1fr;
        }

        .article_texte
        {
            grid-row : 1;
            margin-top : 1em;
        }


        .notationV
        {
            grid-row : 2;
            margin-top: 0;
            margin-bottom: 0;
        }

        #afficher_plus:hover
        {
            text-decoration: underline;
            font-weight: bold;
            color : #0066ff;
        }

        .photoV
        {
            border-radius: 15px 15px 0 0;
            width : 100%;
            height : 70%;
            object-fit:cover;
        }

        @media screen and (min-width:1200px) /* affichage si grand écran */
        {
            
            #heb_main
            {
                border-radius : 5% 5% 5% 5%;
                background-color: #F2F2F2;
                width : 65%;
                padding : 2%;
            }

            .sectionHeb
            {
                grid-column: 1 / span 4;
                grid-row: 2;
                display : grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-auto-rows: minmax(100px,auto);
                grid-gap : 15px;
            }
    
            .boxHeb
            {    
                height : 15em; 
            }          

        }

        @media screen and (max-width:1200px) /* affichage si petit écran */
        {
            #heb_main
            {
                padding : 2%;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: space-between;
                width : 100%;
                font-size:1.5em;
            }

            .boxHeb
            {    
                height : 15em;
                margin-top : 10px;
                margin-bottom: 10px;
                box-shadow : 0 5px 5px 0 #F2F2F2;
            }  
            
        }

    /* 2--5-- Activités $$$$$$$$$$ */

           /* 2--5--1-- positionnement */

           .boxWS 
           {
               background-color: white;
               border : 1px solid #F2F2F2;
               box-shadow : 0 5px 5px 0 #F2F2F2;
               border-radius: 15px;
               margin-top: 15px;
           }
       
           .texte_act
           {
               margin-left: 2em;
               margin-top: 1em;
               margin-bottom: 1em;
           }

           .article_act
           {
            border-radius: 15px 15px 0 0;
            overflow : hidden;
           }

           @media screen and (max-width:1200px) /* affichage si petit écran */
           {
               #act_main
               {
                   width : 100%;
                   font-size: 1.5em;
               }

               .photoAct1
               {
                   border-radius: 15px 15px 0 0;
                   width : 100%;
                   height : 70%;
                   max-height : 10em;
                   object-fit:cover;
               }

               .photoAct2
               {
                   border-radius: 15px 15px 0 0;
                   width : 100%;
                   height : 70%;
                   max-height : 15em;
                   object-fit:cover;
               }

           }
   
           @media screen and (min-width: 1200px) /* affichage si grand écran */
           {

                .sectionact
                {
                    display : grid;
                    grid-template-columns: repeat(4, 1fr);
                    grid-template-rows: repeat(2, 15em);
                    grid-gap : 2em;
                    grid-auto-flow: column;
                }


                #act1
                {
                    grid-area : 1 / 1 / 3 / 2 ;
                }
                
                #act2
                {
                    grid-column: 2;
                    grid-row: 1;
                }

                #act3
                {
                    grid-column: 2;
                    grid-row: 2;
                }

                #act4
                {
                    grid-column: 3;
                    grid-row: 1/3;
                }

                #act5
                {
                    grid-column: 4;
                    grid-row: 1;
                }

                #act6
                {
                    grid-column: 4;
                    grid-row: 2;
                }

               
                .photoAct1
                {
                    width: 200%;
                    max-height : 27em;
                    object-fit:cover;
                }

                .photoAct2
                {
                    width: 100%;
                    max-height : 10em;
                    object-fit:cover;
                }


           }

/* 3 éléments du footer ------------------------------- */
footer 
{
    background-color: #F2F2F2;
}

#sections_footer
{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 20%;
}

.section_footer
{
    display:flex;
    flex-direction: column;
    padding-bottom: 0.5rem;
    padding-inline-start: 2vw;
}

@media screen and (max-width:1200px) /* affichage si petit écran */
{
    footer
    {
        font-size: 1.5em;
    }

    .section_footer
    {
        width : 100%;
    }
}