body
{
    margin : 5%;
    font-family: 'Raleway', sans-serif; /* Police par défaut : Raleway */
    font-size: 0.65em;
}

#entete
{
    display:flex;
    justify-content: space-between;
}

#logo
{
    float : left;
}
a
{
    text-decoration: none;
}

.main_nav
{
    min-width : 50%;
}

.main_ul
{
    border : 1px solid black;
    display: flex;
    flex-wrap: wrap-reverse;
    list-style: none;
    margin : auto;
}

.li-blue
{
    color : #0065FC;
}

#main_recherche
{
    display:flex;
}

#main_filtres
{
    display:flex;
}

.filters
{
    display:flex;
    list-style:none;
}

li
{
    padding-left:5%;
    padding-right:5%;
}

.li_filters
{
    font-weight: bold;;
    border : 1px solid #F2F2F2;
    border-radius:30px;
}

#pop_heb
{
    display : flex;
    flex-direction : row-reverse;
    justify-content: space-between;
}

#pop
{
    background-color: #f2f2f2; /* Utilisation du fond gris */
    justify-content: space-around;
    min-width : 38%;
}

#heb
{
    background-color: #f2f2f2; /* Utilisation du fond gris */
    min-width : 60%;
}

#articles_pop
{
    margin : 2%;
}

#articles_heb
{
    display:flex;
    justify-content: space-around;
}

#articles_act
{
    border : 1px solid red;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


 span
 {
    background-color: #0065FC; 
    color : #DEEBFF;
 }

 article
 {
     border : solid 1px black;
 }

 section
 {
      border-radius:30px;
 }

 footer
 {
    margin-top: 5%; 
    background-color: #F2F2F2;
     display : flex;
     justify-content: space-around;
 }

 .section_footer
 {
     margin:0em;
 }


 
